version: "3"

services:
  backend:
    container_name: pa_backend
    build:
      context: .
      dockerfile: ./infra/backend/Dockerfile
    volumes:
      - ./backend:/usr/src/app
    stdin_open: true
    tty: true
    env_file:
      - ./infra/env/backend.env
    ports:
      - 3000:3000
    command: sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    depends_on:
      db:
        condition: service_healthy
  db:
    image: mysql:8.0
    platform: linux/amd64
    container_name: pa_database
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "db", "-u", "root", "-proot"]
      interval: 5s
      timeout: 10s
      retries: 5
volumes:
  db-data:
    driver: local
